<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Inicio</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script>
        $(document).ready(function() {
            var messages = "{{ get_flashed_messages() }}";

            if (typeof messages != 'undefined' && messages != '[]') {
                $("#myModal").modal();
            };
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Producto
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/irBuscar">Buscar</a>
                      <a class="dropdown-item" href="/irAgregar">Agregar</a>
                      <a class="dropdown-item" href="/irModificar">Modificar</a>
                      <a class="dropdown-item" href="/irEliminar">Eliminar</a>
                      <a class="dropdown-item" href="/irListar">Listar</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Usuario
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/">Buscar</a>
                      <a class="dropdown-item" href="/">Agregar</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <span class="navbar-brand mb-0 h1">Digital Advance</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="navbar-text">{{ session['username'] }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/desconectar">Desconectar</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Mensaje del sistema !</h5>
                    </div>
                    <div class="modal-body">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}

        {% endblock %}
    </div>
    <script src="../static/js/bootstrap.js"></script>
</body>

</html>