<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Respuesta</title>
  <link href="../static/css/bootstrap.css" rel="stylesheet" />
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/volver">Volver</a>
    </nav>
  <div class="container">
    <div class="section">
        <h1>{{respuesta}}</h1>
    </div>
    <br><br>
  </div>
  <script src="../static/js/bootstrap.js"></script>

  </body>
</html>

